body{
    font-family: 'Oswald';
    margin: 0;
    padding: 0;
    background-color: #292929;
}

header{
    display: flex;
    justify-content: center;
}

.logo h2{
    color: #fff;
    font-size: 30px;
}

.logo span{
    color: #ffa500;
}

.section-1{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.area-title h3{
    color: #fff;
    font-weight: normal;
}

.area-title h1{
    color: #fff;
    font-size: 45px;
    line-height: 50px;
    margin-top: -18px;
    margin-top: -16px;
}

.area-title a{
    display: inline-block;
    background-color: #ffa500;
    padding: 15px 60px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    transition: transform 0.5s;
    border-radius: 10px 20px;
}

.area-title :hover{
    transform: scale(1.05);
}

.image-1 img{
    width: 480px;
    height: auto;
    margin-top: 20px;
    margin-left: 55px;
    border-radius: 10px 20px;
   
}

.area-form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    flex-direction: column;
}

.area-form h2{
    color: #fff;
    text-align: center;
   
}

/*ÁREA CARDS*/

.section-cards{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.section-cards h2{
    color: #fff;
    text-transform: uppercase;
    font-size: 22px;
}

.cards{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}




.card{
    background-color: #808080;
    width: 200px;
    height: 180px;
    margin-left: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px 20px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    transition: transform 0.05s;
    

}

.card:hover{
    background-color: #ffa500;
    transform: scale(1.05);
    transition: 0.3s all;
}

.card img{
    width: 65px;
}

/*SECTION-3*/

.section-3{
    background-color: #ffa500;
    height: 342px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.area-title-2 h1{
    color: #fff;
    font-size: 40px;
}

.area-title-2 h3{
    color: #fff;
    font-size: 20px;
    font-weight: normal;
    margin-top: -26px;
}

.area-title-2 a{
    display: inline-block;
    background-color: #fff;
    padding: 20px 85px;
    font-size: 19px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.05s;
    border-radius: 10px 20px;
    
}

.area-title-2 a:hover{
    transform: scale(1.05);
}

.image-2 img{
    width: 380;
    height: 342px;
    margin-top: 5px;
    margin-left: 100px;
    border-radius: 10px 20px;
}

.formulario form{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 300px;
}

.formulario input{
    margin-top: 20px;
    padding-left: 10px;
    height: 40px;
    border: none;
    outline: none;
    font-family: 'Oswald';
    border-radius: 10px 10px;
}

input::placeholder{
    color: black;
    text-transform: uppercase;
}

input[type="submit"]{
    background-color: #ffa500;
    border-radius: 10px 20px;
    text-transform: uppercase;
    font-size: 20px;
    color: #fff;
    height: 55px;
    cursor: pointer;
    transition: 0.3s all;

}

input[type="submit"]:hover{
    transform: scale(1.05);
}

.social h3{
    color: #fff;
    font-weight: normal;
}

.social img{
    width: 30px;
    margin-left: 15px;
    cursor: pointer;
}



